
body, h1, p, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --bg-color-light: #FAFAFA;
    --text-color-light: #333;
    --bg-color-dark: #121212;
    --text-color-dark: #EEE;
}

header nav {
    display: flex;
    align-items: center;
}
  
body {
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
}
  
body.dark-mode {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
}

.bg-cover {
    background-size: cover;
    background-position: center;
}

.hero-content {
    padding-right: 3rem;
}

.hero-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.hero-content p {
    margin-bottom: 0.5em;
}

.btn-primary {
    background-color: #3B5998;
    border-color: #3B5998;
}

.btn-primary:hover {
    background-color: #2E4370;
    border-color: #2E4370;
}
  
#theme-toggle {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .top-container {
        justify-content: center;
        text-align: center;
        padding-right: 0;
    }

    .hero-content {
        padding-right: 0;
    }
}
