/* Adjusting the position of navbar items */
.navbar-nav {
    flex-direction: row;
  }
  
  .nav-item {
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .nav-link {
    padding-left: 20px;
    padding-right: 20px;
  }
  